.code{
  background-image: url("images/code_backgd.png");	
	font-family:Arial;
	font-style:italic;
	color:blue;
	border:0;
	padding:2px 3px;
	letter-spacing:4px;
	font-weight:bolder;
}

#sub_title{
  background-image: url("images/titel_bg.png");
}

.text-indent{
	text-indent: 0.5cm;
}

.main_title{
  color: #3a87ad;
}

.post_content{
  line-height: 160%;
}

p#back-to-top{
      position:fixed;
      bottom:100px;
      right:140px;
}
p#back-to-top a{
      text-align:center;
      text-decoration:none;
      color:#3A87AD;
      display:block;
      width:75px;
      -moz-transition:color 1s;
      -webkit-transition:color 1s;
      -o-transition:color 1s;
}
p#back-to-top a:hover{
      color:#3A87AD;
}
p#back-to-top a span{
      background:#BCE8F1 url(images/go_to_top.png) no-repeat center center;
      border-radius:6px;
      display:block;
      height:78px;
      width:78px;
      margin-bottom:5px;
      -moz-transition:background 1s;
      -webkit-transition:background 1s;
      -o-transition:background 1s;
}
#back-to-top a:hover span{
      background:#3A87AD url(images/go_to_top.png) no-repeat center center;
}