{% extends "base.html" %}

{% block title %}CJYFFF的简单BLOG:{{ post.title }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}
{% load comments %}
<div class="container">
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
        <ul class="nav">
            <li><a href="{% url 'indexpage' %}">首页</a><li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="{% url 'login' %}">登录</a></li>
            <li class="divider-vertical"></li>
            <li><a href="{% url 'logout' %}">注销</a></li>
        </ul>
        </div>
    </div>
</div>

　　 <h2>{{ post.title }}</h2>
    <h2><small>{{ post.author }}</small></h2>
    <h3><small>{{ post.timestamp }}</small></h3>
    {% load text_markup %}
    <p>{{ post.body|markdown }} </p>
    <br></br>
    {% if codes_contents %}
        {% for codes in codes_contents %}
            <!--这里使用bootstrap的pre标签保持代码排版格式-->
            <p><pre class="prettyprint linenums">{{ codes }}</pre></p>
        {% endfor %}
    {% endif %}
    <br></br>
    {% if photos_urls %}
        {% for photo_url in photos_urls %}
            <p><small>附图：{{ photo_url }}</small></p>
            <img src="http://127.0.0.1:8000/media/{{ photo_url }}"/>
        {% endfor %}
    {% endif %}
    <br></br>
    <br></br>
    {% get_comment_count for post as comment_count %}
    <h4><small>这篇文章有 {{ comment_count }} 条评论：</small></h4>
    {% get_comment_list for post as comment_list %}
    {% for comment in comment_list %}
        <div class="alert alert-block">
        <p><small>{{ comment }}</small></p>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block extra_tail %}
{% endblock %}
