{% extends "base.html" %}

{% block title %}CJYFFF的简单BLOG:{{ post.title }}{% endblock %}

{% block body %}

{% load comments %}
<div class="container">
　　 <h2>{{ post.title }}</h2>
    <h2><small>{{ post.author }}</small></h2>
    <h3><small>{{ post.timestamp }}</small></h3>
    {% load text_markup %}
    <p>{{ post.body|markdown }} </p>
    
    {% if codes_contents %}
        {% for codes in codes_contents %}
            <p>{{ codes }}</p>
        {% endfor %}
    {% endif %}    
    {% if photos_paths %}
        {% for path in photos_paths %}
            <p><small>附图：{{ path }}</small></p>
            {% load staticfiles %}
            <img src="{% static "photos/photos/22.jpg" %}" />
            <img src="http://127.0.0.1:8000/media/photos/22.jpg"/>
        {% endfor %}
    {% endif %}
    {% get_comment_count for post as comment_count %}
    <p><small>这篇文章有 {{ comment_count }} 条评论：</small></p>
    {% get_comment_list for post as comment_list %}
    {% for comment in comment_list %}
        <p><small>{{ comment }}</small></p>
    {% endfor %}
</div>

{% endblock %}