{% extends "base.html" %}
{% block title %}CJYFFF的简单BLOG{% endblock %}

{% block body %}
<div class="container">
  <div id="content" class="row-fluid">
    <div class="span9 main">
      {% for post in posts_of_page %}		 
        {# The code below is redirect to the url named 'show_blog', and send 'post.id' to this url. #}
        <h2 ><a href="{% url 'show_blog' post.id %}"><small>{{ post.title }}</small></a></h2>
        <p>作者：{{ post.author }}&nbsp;&nbsp;发表时间：{{ post.timestamp|date:"Y.n.d H:i" }}</p>
        <div class="post_content">
        {% if post.summary %}
          <p class="text-indent">文章简介：&nbsp;{{ post.summary|truncatechars:100 }}</p>
        {% endif %}
        </div>
        <p class="text-indent"><a  href="{% url 'show_blog' post.id %}">{阅览全文}</a></p>
        <p class="page-header"></p>
      {% endfor %}
      <div class="posts_of_page">
      <span class="paging">
      {% if posts_of_page.has_previous %}
        <a href="?page={{ posts_of_page.previous_page_number }}"><font color="#0000cd">&#9664;上一页</font></a>
      {% endif %}
      <span>
        {% for num in page_range %}
        <a href="?page={{ num }}">
          {% ifequal num posts_of_page.number %}
          <font color="#0000cd">{{ num }}</font>
          {% else %}
          <font color="#3a87ad">{{ num }}</font>
          {% endifequal %}
        </a>
        {% endfor %}
      </span>
      {% if posts_of_page.has_next %}
        <a href="?page={{ posts_of_page.next_page_number }}"><font color="#0000cd">下一页&#9654;</font></a>
      {% endif %}
      </span>
      </div>
    </div>
  {% include "sidebar.html" %}
  </div>
</div>
{% endblock %}