{% extends "base.html" %}
{% block title %}CJYFFF的简单BLOG{% endblock %}

{% block body %}
<div class="container">
  <div id='content' class='row-fluid'>
    <div class='span9 main'>
			{% load pagination_tags %}
			{% autopaginate posts 5 %}
			
			{% for post in posts %}
			  {# 下面语句是要重定向到detail_blog这个url，并且把post.id传给这个url #}
			  <h2 ><a href="{% url 'detail_blog' post.id %}"><small>{{ post.title }}</small></a></h2>
			  <p>作者：{{ post.author }}&nbsp;&nbsp;发表时间：{{ post.timestamp|date:"Y年m月j日 f" }}</p>
			
			  {% if post.summary %}
			    <p class="text-indent">文章简介：&nbsp;{{ post.summary|truncatechars:200 }}</p>
			  {% endif %}
			
			  <p class="text-indent"><a  href="{% url 'detail_blog' post.id %}">{阅览全文}</a></p>
			  <p class="page-header"></p>
			{% endfor %}
			{% paginate %}
		</div>
		<div class='span3 sidebar'>
      <h3 class="page-header">关于博主</h3>
      <p>一个的在地球online苦苦练级的程序猿，武器是python，js和c，来自广东某工业大学。求各位大牛带带小的刷这个副本。</p>
      <br>
      <p>联系我：</p>
      <p>邮箱:cjyfff#163.com</p>
      <p>QQ:631127458</p>		
		</div>
	</div>
</div>
{% endblock %}