<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>测试页面</title>
<link href="../../static/css/bootstrap.css" rel="stylesheet">
<meta name="viewport" content="width=device-wdith,initial-scale=1.0"></meta>
<!-- [if lt IE 9]>
    <script  src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif] -->
</head>
<body>

<div class="container">
<h1 class="page-header">布局<small>使用Bootstrap网格系统布局网页</small></h1>
<p>在惠普赞助的年度黑客挑战赛Pwn2Own 2014上，Google Chrome、苹果Safari、微软IE、Mozilla Firefox
和Adobe Flash相继被攻陷，但Firefox是攻陷次数最多的开源浏览器。
微软的IE被安全公司VUPEN与安全研究员 Sebastian Apelt和Andreas SchMIDt各自攻破一次，Apelt和Schmidt
利用的是释放后使用的内存漏洞；Flash 也被攻破了两次；Keen Team利用内存堆溢出和沙盒绕过漏洞突破了Safari的
安全防线；VUPEN利用释放后使用漏洞突破Chrome的沙盒；Firefox在第一天被三种不同方 法攻破了三次，第二天又被
攻陷了一次，总共发现4个bug。
为什么Firefox在今年被攻陷的次数如此之多？Mozilla安全隐私高级工程经理Sid Stamm认为原因是Pwn2Own提供的
金钱激励更高，Pwn2Own为每个漏洞奖励了安全研究员5万美元，而Mozilla仅仅为每个漏洞奖励发现者3000美元。</p>
  <div class="row">
    <div class="span4">
    <h2 class="page-header">区块一</h2>
    <p>中国网3月15日讯据俄罗斯《共青团真理报》网站3月14日报道，乌克兰当局已经呼吁美国政府，向他们提供先进武器和
弹药。但是由于美国担心自己的行为会使得紧张局势升级，进一步恶化与莫斯科的关系，并招致国内舆论的批评，所以应该会
拒绝对乌克兰当局的军事援助。</p>
    </div>
    <div class="span4">
      <h2 class="page-header">区块二</h2>
      <p>“目前我们事实上不会考虑对乌的军事援助，我们已经明确地告诉了他们，他们应该专注于获得经济援助，并重建自己的生
产。”美国政府一位不愿意透露姓名的高级官员告诉《华尔街日报》。</p>
    </div>
    <div class="span4">
      <h2 class="page-header">区块三</h2>
      <p>据可靠消息透露，俄罗斯对乌克兰境内亲俄势力的武器和弹药的供应将加强，以备可能到来的革命。而这一切目前看来还没
有美国的参与。</p>
    </div>
  </div>
</div>

<script src="../../static/js/jquery-1.11.0.js"></script>
<script src="../../static/js/bootstrap.js"></script>
</body>
</html>

